<div class="p-1 mt-2 bg-[#fcfaf6] border border-[#d2cec6] rounded-lg shadow-lg">
    <div class="flex flex-row overflow-hidden border-b-2 border-[#d2cec6]">
        <label class="block text-left w-[calc(100%-0.75rem)] px-1 text-sm text-nowrap overflow-hidden">{{ nickname | safe }}</label>
        <!--- Commented out for now <label class="block text-right text-nowrap pr-1 w-24 text-sm">11.09.2001</label> ---->
    </div>
    <p class="px-2 whitespace-pre-line text-wrap">{{ comment | safe }}</p>
</div>
