<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen text-[#5f4f53]">
    <!-- Content -->
    <div class="p-1 bg-pattern-stripes">
        <!-- Map with specific location info -->
        <div class="h-56 rounded-lg border border-[#d2cec6] overflow-hidden shadow-lg">
            {{ iframe | safe }}
        </div>
        <div class="h-[calc(100%-14rem)] pt-2">
            <div class="h-20">
                <label class="px-2">{{ name | safe }}</label> <br>
                <label class="px-2">{{ address | safe }}</label> <br>
                <label class="px-2">Zdobyło {{ percentage | safe }}%</label>
                <label class="px-2">Zdobyto: {{ been_here | safe}}</label>
            </div>
            <!-- Comments section -->
            <div class="h-dvh pt-2">
                <div class="h-full border-t-2 border-[#d2cec6]">
                    <label class="px-2">Komentarze</label>
                    <div class="h-[calc(100%-1.5rem)] overflow-y-auto">
                        <div class="p-1 bg-[#fcfaf6] border border-[#d2cec6] rounded-lg shadow-lg">
                            <div class="flex flex-row overflow-hidden border-b-2 border-[#d2cec6]">
                                <label class="block text-left w-[calc(100%-0.75rem)] px-1 text-sm text-nowrap overflow-hidden">{{ nickname | safe }}</label>
                            </div>
                            <form action="/location/{{ location_id | safe }}" method="POST">
                            <div class="flex py-1">
                                <input type = "text" name="comment" contenteditable="true" class="border border-[#d2cec6] rounded-lg focus:outline-none px-1 w-[calc(100%-0.5rem)] text-wrap flex-grow min-h-20"></span>
                            </div>
                            <div class="flex flex-row overflow-hidden">
                                <label class="block text-sm pl-1 p-0.5">500/500</label>
                                <input class="block ml-auto border-[#d2cec6] border text-[#FCFAF6] bg-[#948084] p-0.5 text-sm rounded-lg" type="submit" value="Opublikuj">
                            </div>
                            </form>
                        </div>
                        {% for c in comments %}
                            {% with comment=c[0], nickname=c[1] %}
                                {% include 'comment.html' %}
                            {% endwith %}
                        {% endfor %} 
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
