<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen text-[#5f4f53]">
    <!-- Panel -->
        {% include 'nav_panel.html' %}
    <!-- Content -->
    <div class="h-[calc(100%-3rem)] p-1 bg-pattern-stripes">
        <div class="h-full rounded-lg border border-[#d2cec6] overflow-hidden">
            {{ iframe | safe }}
        </div>
    </div>
</body>
</html>
