<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen text-[#5f4f53]">
    <!-- Panel -->
    {% with title="Profil" %}
        {% include 'nav_panel.html' %}
    {% endwith %} 
    <!-- Content -->
    <div class="h-[calc(100%-3rem)] p-1 py-2 bg-pattern-stripes">
        <!-- Profile data -->
        <div class="flex flex-row">
            <label class="block text-left w-[calc(100%-0.75rem)] pl-4 text-nowrap overflow-hidden">Wynik</label>
            <label class="block text-right text-nowrap pr-4 w-20">Ranga</label>
        </div>
        <div class="flex flex-row overflow-hidden h-16 mb-2 bg-[#fcfaf6] items-center m-1 rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl shadow-lg border-[#d2cec6] border">
            <div class="flex-initial w-[calc(100%-1.25rem)] overflow-hidden text-nowrap">
                <label class="ml-1 text-xl">{{ acc[0] | safe }}</label> <br>
                <label class="ml-1 block w-36 text-base text-[#FCFAF6] items-center px-2 rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl bg-gradient-to-r from-[#63565b] to-[#948084]">Punkty: {{ acc[1] | safe }}</label>
            </div>
            <div class="size-14 overflow-hidden bg-[#bdaaac] rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl flex-none flex items-center mr-1">
                <div class="size-14 mr-1 mb-1 bg-gradient-to-tr from-[#8c7377] to-[#927b83] rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl flex items-center">
                    <p class="text-[#e7d1c6] text-center m-auto text-base italic">{{ acc[2] | safe }}</p>
                </div>
            </div>
        </div>
        <!-- Avhievements -->
            <div class="h-[calc(100%-8.5rem)] border-t-2 mt-4 border-[#d2cec6]">
                <label class="px-4">Osiągnięcia</label>
                <div class="h-full mt-2 overflow-y-auto">
                    <div class="flex flex-row justify-center flex-wrap px-1 pb-1 m-1">
                        {% for a in achievements %}
                        {% include 'achievement.html' %}
                        {% endfor %}
                    </div>
                </div>
            </div>
    </div>
</body>
</html>
