<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen overflow-hidden text-[#5f4f53] bg-pattern-stripes">
    <div class="border-[#d2cec6] border-2 bg-[#fcfaf6] content-center content-round text-center mx-auto mt-36 w-64 h-fit py-4 rounded-lg grid grid-cols-1">
        <form class="mb-2" action="/register" method="POST">
            <input class="border-[#d2cec6] border text-center w-11/12 mx-auto rounded-lg text-base p-2.5 mb-2 focus:outline-none" type="nickname" name="nickname" placeholder="nazwa użytkownika"> <br>
            <input class="border-[#d2cec6] border text-center w-11/12 mx-auto rounded-lg text-base p-2.5 mb-2 focus:outline-none" type="login" name="login" placeholder="login"> <br>
            <input class="border-[#d2cec6] border text-center w-11/12 mx-auto rounded-lg text-base p-2.5 mb-2 focus:outline-none" type="password" name="password" placeholder="hasło"> <br>
            <input class="border-[#d2cec6] border text-[#FCFAF6] bg-[#948084] w-11/12 mx-auto rounded-lg text-base p-2.5" type="submit" value="Zarejestruj">
        </form>
        <a href='/' class="border-[#d2cec6] border text-[#FCFAF6] bg-[#948084] w-11/12 mx-auto rounded-lg text-base p-2.5 mt-3">Strona logowania</a>
    </div>
</body>
</html>
