<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen text-[#5f4f53]">
    <!-- Panel -->
    {% with title="QR" %}
        {% include 'nav_panel.html' %}
    {% endwith %} 
    <!-- Content -->
    <div class="h-[calc(100%-3rem)] p-1 bg-pattern-stripes">
        <div class="h-fit">
            <label class="block text-justify px-2">Tutaj należy wstawić zawartość kodu QR (zaleca się zeskanowanie aplikacją, jednak można przepisać go ręcznie) odwiedzonego miejsca, aby uzyskać dostęp do tej lokalizacji w aplikacji:</label>
            <form class="grid grid-cols-1 m-1.5" action="/scanner" method="POST">
                <input class="border-[#d2cec6] border text-center mx-auto rounded-lg text-base p-1 focus:outline-none w-full shadow-lg mb-1" type="text" name="qr_code">
                <input class="block ml-auto border-[#d2cec6] border text-[#FCFAF6] bg-[#948084] p-0.5 px-1 text-sm rounded-lg shadow-lg" type="submit" value="Wyślij kod">
            </form>
        </div>
    </div>    
</body>
</html>
