<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen text-[#5f4f53]">
    <!-- Panel -->
    {% include 'nav_panel.html' %}
    <!-- Content -->
    <div class="h-[calc(100%-3rem)] p-1 bg-pattern-stripes">
        <div class="h-full rounded-lg border border-[#d2cec6]">
            Tutaj należy wstawić zawartość kodu QR (zaleca się zeskanowanie aplikacją, jednak można przepisać go ręcznie) odwiedzonego miejsca, aby uzyskać dostęp do tej lokalizacji w aplikacji:
            <form action="/scanner" method="POST">
                <input type="text" name="qr_code">
                <input type="submit" value="Wyślij kod">
            </form>
        </div>
    </div>    
</body>
</html>
