<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrocławskie chrupiące miejsca - Gra</title>
    <link href="{{ url_for('static', filename='css/main.css')}}" rel="stylesheet">
</head>
<body class="h-screen text-[#5f4f53]">
    <!-- Panel -->
        {% include 'nav_panel.html' %}
    <!-- Content -->
    <div class="h-[calc(100%-3rem)] p-1 bg-pattern-stripes">
        <div class="flex flex-row">
            <label class="block text-left w-[calc(100%-0.75rem)] pl-4 text-nowrap overflow-hidden">Wynik</label>
            <label class="block text-right text-nowrap pr-4 w-20">Ranga</label>
        </div>
        <div class="h-[calc(100%-1.25rem)] overflow-y-auto">
            {% for rank in rankings %}
            {% with nickname=rank.0, points=rank.1, position=rank.2 %}
                {% include 'scoreboard_position.html' %}
            {% endwith %}
            {% endfor %}
        </div>
    </div>
</body>
</html>
