<div class="flex flex-row overflow-hidden h-16 mb-2 bg-[#fcfaf6] items-center m-1 rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl shadow-lg border-[#d2cec6] border">
    <div class="flex-initial w-[calc(100%-1.25rem)] overflow-hidden text-nowrap">
        <label class="ml-1 text-xl">Nazwa użyszkodnika</label> <br>
        <label class="ml-1 block w-36 text-base text-[#FCFAF6] items-center px-2 rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl bg-gradient-to-r from-[#63565b] to-[#948084]">Punkty: 2137</label>
    </div>
    <div class="size-14 overflow-hidden bg-[#bdaaac] rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl flex-none flex items-center mr-1">
        <div class="size-14 mr-1 mb-1 bg-gradient-to-tr from-[#8d777a] to-[#927b83] rounded-tl-xl rounded-bl-sm rounded-tr-sm rounded-br-2xl flex items-center">
            <label class="text-[#e7d1c6] text-center m-auto text-base italic">#1</label>
        </div>
    </div>
</div>